.topnav {
    overflow: scroll;
    background-color: transparent /* #444 */;
    color: #2812eb;
  }
  
  .topnav a {
    float: right;
    color: #eb12a3;
    text-align: center;
    padding: 140px 16px;
    text-decoration:rgb(12, 196, 209);
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: rgb(12, 196, 209);
    color: rgb(170, 207, 33);
  }
  
  .topnav a.active {
    background-color: #ca08ba;
    color: rgb(16, 38, 243);
  }
