
.signup1{
    background: url("https://i.pinimg.com/originals/37/04/6a/37046a3992d2de0df81ae6b1082a6eb8.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}